
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}


header {
  background: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation */
nav {
  background: #333;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  margin: 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #4CAF50;
}

/* Main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content-frame {
  width: 800px;
  height: 500px;
  border: none;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  align-items: center;
  text-align: center;
  padding:20px;
}

/* Inner page styling */
.page-section {
  background: #fff;
  padding: 30px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.page-section h2 {
  color: #4CAF50;
  margin-bottom: 15px;
}

.page-section p {
  margin-bottom: 15px;
  margin-top: 15px;
}

.programme-list {
  list-style: none;
  padding-left: 0;
}

.programme-list li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-left: 5px solid #4CAF50;
  border-radius: 5px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: #4CAF50;
  text-decoration: none;
}

footer {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

/*  Responsive Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    min-width: 100%;
  }
}


/*  Mobile devices */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.5em;
  }
  .page-section {
    max-width: 95%;
    padding: 20px;
    margin: 20px auto;
    font-size: 0.95em;
  }

  .page-section h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .programme-list li {
    font-size: 0.95em;
  }
  .content-frame {
  width: 95%;
  height: 95%;
  }
}

/*  Tablets */
@media (min-width: 769px) and (max-width: 1024px) {

  nav ul li a {
    padding: 10px 15px;
  }

  header h1 {
    font-size: 2em;
  }
  .page-section {
    max-width: 90%;
    padding: 30px;
    margin: 25px auto;
  }

  .page-section h2 {
    font-size: 1.8em;
  }
  .content-frame {
  width: 95%;
  height: 90%;
  }
}

/*  Desktops */
@media (min-width: 1025px) {

  header h1 {
    font-size: 2.5em;
  }
  .page-section {
    max-width: 900px;
    padding: 40px;
  }

  .page-section h2 {
    font-size: 2em;
  }
  .content-frame {
  width: 95%;
  height: 85%;
  }
}
